.App {
  text-align: center;
}

.button-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.Message {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: lightgoldenrodyellow;
  font-weight: bold;
}

.Message h2 {
  font-size: 3em;
}

.Message h3 {
  font-size: 1.5em;
}

.aws-btn {
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.185s;
  --button-primary-color: #88572b;
  --button-primary-color-dark: #95653c;
  --button-primary-color-light: #FAFAD6;
  --button-primary-color-hover: #cea175;
  --button-primary-color-active: #C99561;
  --button-primary-border: 2px solid #d1925b;
}