.App {
  text-align: center;
}

.button-container {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
}

.Message {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  overflow: auto;
  color: white;
}