header {
    background-image: url("../assets/wood-texture.jpg");
    background-position-y: top;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2.5em;
    color: lightgoldenrodyellow;
}