.Score-board-section {
  width: 100%;
}

.Score-board-frame {
  background-color: rgb(133, 76, 29);
  border-style: groove;
  border-width: 0.5em;
  border-color: #d1925b;
  height: 100%;
  width: 20%;
  margin: 10%;
  margin-top: 8%;
  padding: 1%;
  padding-top: 2%;
  border-radius: 5%;
}

.Player-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: lightgoldenrodyellow;
  font-size: 1.5em;
  font-weight: bold;
}

.Tokens {
  color: lightgoldenrodyellow;
  font-size: 1.5em;
  display: inline;
}

.Coin-icon {
  height: 20%;
  width: 20%;
}

.Right {
  float: right;
}

.Left {
  float: left;
}
